<a href="https://colab.research.google.com/github/GTD2101-ACD-AA-EJ23/02-Python-intermedio-ricardo-qm/blob/main/04.%20Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas

En este JNB se revisará el tema de Listas

In [2]:
primes = [2, 3, 5, 7]

In [3]:
primes

[2, 3, 5, 7]

In [4]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [5]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

Se pueden tener listas de listas :

In [6]:
hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], # (Comma after the last element is optional)
]
# (I could also have written this on one line, but it can get hard to read)
hands = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

In [7]:
hands[0]

['J', 'Q', 'K']

In [8]:
hands[0][0:2][0]

'J'

In [9]:
planets[:3]

['Mercury', 'Venus', 'Earth']

In [10]:
planets[3:]

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [11]:
# All the planets except the first and last
planets[1:-1]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

# Mutabilidad de las listas

Las listas se pueden cambiar (agregar, modificar, eliminar elementos). No todas las colecciones son mutables. Por ejemplo, las tuplas (que son como listas pero con paréntesis) no son objetos mutables. Es decir, una vez se crea una tupla no se pueden cambiar sus elementos.

In [12]:
planets[3] = 'Malacandra'
planets

['Mercury',
 'Venus',
 'Earth',
 'Malacandra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

In [13]:
tplanet=('mercurio', 'venus', 'tierra')

tplanet

('mercurio', 'venus', 'tierra')

In [14]:
tplanet[0]='Neptuno'

TypeError: ignored

# Funciones para listas

In [15]:
# How many planets are there?
len(planets)

8

In [16]:
len("Ricardo")

7

In [17]:
len(planets[1:4])

3

In [18]:
# The planets sorted in alphabetical order
sorted(planets)

['Earth',
 'Jupiter',
 'Malacandra',
 'Mercury',
 'Neptune',
 'Saturn',
 'Uranus',
 'Venus']

In [19]:
planets

['Mercury',
 'Venus',
 'Earth',
 'Malacandra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

In [20]:
primes = [2, 3, 5, 7]
sum(primes)

17

In [21]:
max(primes)

7

# Interludio: objetos

Dado que los datos se consideran como objetos, es natural que podamos consultar sus atributos y métodos como tradicionalmente se hace en OOP:

In [22]:
x = 12
# x is a real number, so its imaginary part is 0.
print(x.imag)
# Here's how to make a complex number, in case you've ever been curious:
c = 12 + 3j
print(c.imag)

0
3.0

In [23]:
x.bit_length

In [24]:
x.bit_length()

4

In [25]:
help(x.bit_length)

Help on built-in function bit_length:

bit_length() method of builtins.int instance
    Number of bits necessary to represent self in binary.

    >>> bin(37)
    '0b100101'
    >>> (37).bit_length()
    6

# Métodos de Listas

Las listas como objetos tienen muchos métodos para trabajarlos como objetos.

In [27]:
 # Pluto is a planet darn it!
planets.append('Pluto')

In [28]:
planets

['Mercury',
 'Venus',
 'Earth',
 'Malacandra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto']

In [29]:
help(planets.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [30]:
planets.pop()

'Pluto'

# Búsquedas en Listas

In [31]:
planets.index('Earth')

2

In [32]:
planets.index('Pluto')

ValueError: ignored

In [33]:
# Is Earth a planet?
"Earth" in planets

True

In [34]:
# Is Calbefraques a planet?
"Calbefraques" in planets

False

In [35]:
help(planets)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

# Tuplas

Es un tipo de colección que a diferencia de las listas -que són cambiables, mutables- estas colecciones no lo son. Es decir, una vez que creas la tupla no es posible modificarla.

In [36]:
t = (1, 2, 3)

In [37]:
t

(1, 2, 3)

In [38]:
t=1,2,3

In [39]:
t

(1, 2, 3)

In [40]:
t[0] = 100

TypeError: ignored

In [41]:
x = 0.125
x.as_integer_ratio()

(1, 8)

In [42]:
numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)

0.125

In [43]:
a = 1
b = 0
a, b = b, a
print(a, b)

0 1